/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* GENERIC */

.border{
    border: 1px solid blue;
}

.flex{
    display: flex;
}

ul{
    list-style-type: none;
    

}

a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

/* UTILS */

.white-txt{
    color: #fff;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
/* HEADER */
header{
    height: 60px;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    height: 60px;
    align-items: center;
    margin-right: 20px;
}

.link-header a{
    color: #000;
    font-size: 12px;
}

.logo-small{
    transform: scale(0.8);
}

.button-inizia{
    color: #fff;
    background-color: #0061ff;
    height: 30px;
    border: none;
}

/* MAIN */
main{
    height: calc(100vh - 60px);
    overflow-y: auto;
}

/* JUMBOTRON */

.jumbo-left{
    flex-basis: 33%;
    flex-direction: column;
    gap: 30px;
}

.jumbo-right{
    flex-basis: 63%;
}

.title{
    font-size: 70px;
    margin-top: 30px;
}