/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* GENERIC */
.container{
    width: 900px;
    margin: 0 auto;
}

.container-small{
    width: 800px;
    margin: 0 auto;
}

.border{
    border: 1px solid blue;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

/* BUTTONS */
.button-inizia{
    color: #fff;
    background-color: #0061ff;
    height: 30px;
    border: none;
}

/* UTILS */

.white-txt{
    color: #fff;
}

.mid-text{
    font-size: 13px;
}

/* FLEX */
.flex{
    display: flex;
}

.basis2{
    flex-basis: calc(100% / 2);
}

.basis3{
    flex-basis: calc(100% / 3);
}

.basis4{
    flex-basis: calc(100% / 4);
}


/* HEADER */
header{
    height: 60px;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    height: 60px;
    align-items: center;
    margin-right: 20px;
}

.link-header a{
    color: #000;
    font-size: 12px;
}

.logo-small{
    transform: scale(0.8);
}



/* MAIN */
main{
    height: calc(100vh - 60px);
    overflow-y: auto;
}

/* JUMBOTRON */
.jumbotron{
    background-color: #b4d0e7;
    margin-bottom: 100px;
}
.jumbo-wrapper{
    width: 900px;
    height: 300px;
    justify-content: space-between;
}

.jumbo-left{
    flex-basis: 33%;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.down-arrow{
    font-size: 40px;
    position: absolute;
    top: calc(100% - 60px);
}

.jumbo-right{
    flex-basis: 63%;
}

.jumbo-pic{
    width: 600px;
    display: block;
}

.title{
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 900;
}



.circle-blue{
    display: inline-block;
    line-height: baseline;
    width: 13px;
    height: 13px;
    border: 3px solid #0061FF;
    border-radius: 50%;
}

/* # SECTION INVOICING */

/* TITLE INVOICING*/
.title-wrapper{
    width: 800px;
    height: 100px;
    margin: 0 auto;
}

.wrapper-col{

}

/* INVOICING */
.row-invoicing{
    min-height: 700px;
}



/* CARD ENTERPRICE */
.card-enterprice{
    height: 200px;
}


/* CARD ENTERPRICE */
.card-partner{
    height: 400px;
}



/* CARD ACTIVITY */
.card-activity{
    flex-direction: column ;
    height: 700px;
    flex-grow: 0;
}



/* SECTION TEAM */
.team{
    height: 400px;
    width: 1400px;
    margin: 0 auto;
}

.row-team{
    
}

.card-team{
    height: 50%;
    width: 100%;
    background-color: yellow;
}


.col-team{
    flex-direction: column;
}

/* FREETRY */
.row-freetry{
    height: 300px;
    margin-bottom: 100px;
}

/* FAQ */
.faq-wrapper{
    border-bottom: #000 solid 1px;
}

.faq-question{
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top: #000 solid 1px;
    
}

.faq-content{
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: #000 solid 2px;
}


/* FOOTER */
