/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* GENERIC */
.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.border{
    border: 1px solid blue;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #000;
}

.section-title{
    font-size: 30px;
    font-weight: 750;
    padding-top: 30px;
    padding-bottom: 30px;
}

img{
    max-width: 100%;
    display: block;
}

/* BUTTONS */
.btn{
    height: 30px;
    border: none;
    color: #000;
}


.btn-blue{
    color: #fff;
    background-color: #0061ff;
    padding: 5px 10px;
    border: none; 
}

.btn-white{
    color: #000;
    background-color: #fff;
    padding: 5px 10px;
    border: #000 1px solid; 
}

/** UTILS **/
.circle-blue{
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 3px solid #0061FF;
    border-radius: 50%;
    vertical-align: -2px;
}

.circle-white{
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    border-radius: 50%;
    vertical-align: -2px;
}

.icons{
    display: inline-block;
    vertical-align: 2px;
    margin-right: 5px;
    position: relative;
    height: 10px;
}

.link-blue{
    font-size: 13px;
    color: #0061ff;
}


.relative{
    position: relative;
}
/* TEXT */
.white-txt{
    color: #fff;
}

.mid-text{
    font-size: 13px;
}

.small-text{
    font-size: 10px;
}

.align-text{
    text-align: center;
}

/* MARGIN */
.mg-r30{
    margin-right: 30px;
}

.mg-b30{
    margin-bottom: 30px;
}

.mg-t30{
    margin-top: 30px;
}

.mg-t40{
    margin-top: 40px;
}

.mg-t15{
    margin-top: 15px;
}

.mg-l5{
    margin-left: 5px;
}

.mg-l20{
    margin-left: 20px;
}

.mg-b100{
    margin-bottom: 100px;
}

.mg-t50{
    margin-top: 50px;
}

.mg-t100{
    margin-top: 100px;
}



/* LISTA MARGINE NEGATIVO */
.mg-neg15{
    margin-left: -15px;
}

/* PADDING */
.pd-l20{
    padding-left: 20px;
}



/* FLEX */
.flex{
    display: flex;
}

.basis2{
    flex-basis: calc(100% / 2);
}

.basis3{
    flex-basis: calc(100% / 3);
}

.basis4{
    flex-basis: calc(100% / 4);
}


/* HEADER */
header{
    height: 60px;
    position: sticky;
    top: 0;
    left:0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 3px #666;
}

.navbar{
    height: 60px;
    align-items: center;
    margin-right: 20px;
}

.link-header a{
    color: #000;
    font-size: 12px;
}

.link-header li{
    padding: 5px 10px;
}

.logo-small{
    transform: scale(0.8);
}



/* MAIN */

/* JUMBOTRON */
.jumbotron{
    background-color: #b4d0e7;
    margin-bottom: 100px;
    height: 540px;
}


.jumbo-left{
    flex-basis: 33%;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.down-arrow{
    font-size: 40px;
    position: relative;
}

.jumbo-right{
    flex-basis: 63%;
}

.jumbo-pic{
    max-width: 100%;
    display: block;
}

.title{
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 900;
}


/* # SECTION INVOICING */

/* HEADER INVOICING*/
.icon-primary-inv{
    height: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: #000 solid 1px;
}

/* INVOICING */
.row-invoicing{
    min-height: 700px;
    border: #666 solid 1px;
    border-left: #666 solid 1px;
    border-right: none;
}


.professional{
    margin-top: 40px;
}

.professional ul li{
    margin-top: 20px;
}

.col-professional, .col-advanced, .col-enterprice{
    border-right: #666 solid 1px;
}

#sub-title-inv{
    font-size: 20px;
    font-weight: 700;
    margin-left: -15px;
    margin-top: 15px;
}

.fa-ul li{
    font-size: 12px;
}



/* CARD ENTERPRICE */
.card-enterprice{
    height: 200px;
    border: #000 solid 1px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

.icon-last-inv{
    max-width: fit-content;
    margin: 0 auto;
    padding: 15px;
    font-size: 12px;
}

#button-try{
    color: #fff;
    background-color: #0061ff;
    padding: 5px 10px;
    border: none; 
    position: absolute;
    left: calc(100% - 200px);
    top: 30%;
}

/* CARD PARTNER */
.card-partner{
    min-height: 400px;
    margin-bottom: 100px;
}

.left-partner{
    flex-basis: 60%;
    
}

.right-partner{
    flex-basis: 40%;
    margin-left: 40px;
}

/* CARD ACTIVITY */
.card-activity{
    flex-direction: column;
    flex-grow: 0;
}

.col-activity{
    min-height: 300px;
    padding: 20px;
}

.pos-img{
    position: relative;
}

.pos-text{
    margin-top: 170px;
}

.img-activity{
    transform: scale(0.9);
    max-width: 100%;
    position: absolute;
    top: -20px;
}


/* SECTION TEAM */
.square-container{
    
}

.square{
   width: calc(100vw / 3);
   height: calc(100vw / 3);
   display: flex;
   flex-wrap: wrap;
}

.small-square{
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border: 10px solid transparent;
    invert
}

/* TITLE STATISTICS */
.background-business{
    padding: 100px;
}


/* ID IMAGES PARTNER FINALS */
#img-team-1{
    background-image: url(../img/designit.svg);
    background-color: #5d2c64;
    filter: invert(1);
}

#img-team-2{
    background-image: url(../img/arizona_state_university.svg);
    background-color: #9ef7d4;
    filter: invert(1);
}

#img-team-3{
    background-image: url(../img/university_of_florida.svg);
    background-color: #ff6c31;
    filter: invert(1);
}


#img-team-4{
    background-image: url(../img/topps.svg);
    background-color: #00e3e3;
    filter: invert(1);
}

#img-team-5{
    background-image: url(../img/designit.svg);
    background-repeat: no-repeat;
    width: 50%;
    height: 20%;
    background-size: contain;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

#img-team-6{
    background-image: url(../img/world_bicycle_relief.svg);
    background-color: #00e3e3;
    filter: invert(1);
}

#img-team-7{
    background-image: url(../img/hearst_corp.svg);
    background-color: #4b2f18;
    filter: invert(1);
}

#img-team-8{
    background-image: url(../img/lonely_planet.svg);
    background-color: #f2db7e;
    filter: invert(1);
}

#img-team-9{
    background-image: url(../img/clear_channel.svg);
    background-color: #0027cf;
    filter: invert(1);
}



/* FREETRY */
.row-free-entry{
    height: 200px;
    margin-bottom: 100px;
}

.freetry-text{
    color: #61092c;
    padding: 50px;
}

.wrapper-free-entry{
    background-color: #b4d0e7;
}

/* FAQ */
.faq-wrapper{
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;;
}

.question{
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
   
}

.question-arrow{
    margin-right: 30px;
}

.answer{
    min-height: 100px;
    align-items: center;
    display: none;
}

.faq-wrapper:hover :nth-child(2){
    display: block;
}


/* FOOTER */
footer{
    background-color: #000;
    color: #fff;
}


.footer-wrapper{
    height: 400px;
    margin-top: 150px;

}

.col-footer{
    border: #000 solid 1px;
    flex-basis: calc(100% / 5);
    height: 400px;
}

.title-list{
    padding-bottom: 20px;
    padding-top: 100px;
}

.list-footer{
    flex-direction: column;
    gap: 10px;
}

.link-footer{
    color: #000;
    font-size: 12px;
    padding: 0px;
}

li .link-footer{
    color: #fff;
}

.link-footer{
    padding-top: 20px;
}